.Form {
  text-align: left;
  padding: 25px;
}

.formButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  width: 150px;
  padding: 15px;
}

.formButton:hover {
  cursor: pointer;
}

.inputs {
  border: 1px solid #2149ad;
  width: 30%;
}

.formText {
  width: auto;
}