.Form {
  text-align: left;
  padding: 25px;
}

.inputs {
  /* border: 1px solid #2149ad; */
  width: 450px;
}

.formButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  width: 35%;
  padding: 15px;
}

.formButton:hover {
  cursor: pointer;
  background-color: #4caf4fae;
}

.formRectInput {
  width: fill;
}

#SIDLabel{
  width: 17%;
  float: left;
}

#SIDInput{
  width: 83%;
  float: left;
}

#MethodLabel{
  width: 13.5%;
  float: left;
}

#MethodInput{
  width: 86.5%;
  float: left;
}

#PGPLabel{
  width: 25%;
  float: left;
}

#PGPInput{
  width: 75%;
  float: left;
}

#DrugLabel{
  width: 9%;
  float: left;
}

#DrugInput{
  width: 91%;
  float: left;
}

#IPLabel{
  width: 17%;
  float: left;
}

#IPInput{
  width: 83%;
  float: left;
}

#ONLabel{
  width: 25.5%;
  float: left;
}

#ONInput{
  width: 74.5%;
  float: left;
}

#OILabel{
  width: 32%;
  float: left;
}

#OIInput{
  width: 68%;
  float: left;
}

#IALabel{
  width: 30.5%;
  float: left;
}

#IAInput{
  width: 69.5%;
  float: left;
}