.Register {
  text-align: center;
  padding: 25px;
}

.centre {
  margin: auto;
  padding: 0px;
  border: 1px solid #2149ad;
  width: 17%;
}

.registerText {
  width: 200px;
}

.registerLabel {
  text-align: left;
}

.registerButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  width: 150px;
  padding: 15px;
}

.registerButton:hover {
  cursor: pointer;
  background-color: #4caf4fae;
}