.Register {
  text-align: center;
  padding: 25px;
}

.registerCentre {
  margin: auto;
  width: 465px;
  padding: 0px;
  /* border: 1px solid #2149ad; */
}

.registerText {
  width: fill;
}

.registerTextSingle {
  width: 450px;
}

.registerLeftTextSingle {
  text-align: left;
}

.registerButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  width: 150px;
  padding: 15px;
}

.registerButton:hover {
  cursor: pointer;
  background-color: #4caf4fae;
}

.registerLeftText{
  text-align: left;
  padding-left: 10px;
}
